#!/usr/bin/env bash
# =============================================================================
#
# - Copyright (C) 2016     George Li <yongxinl@outlook.com>
#
# - This is part of HomeVault imagebuilder project.
# - This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# =============================================================================

echo "Configuring OpenLDAP"
cat <<EOF | debconf-set-selections
{% if target_root_password is defined and target_root_password %}
slapd slapd/internal/adminpw password {{ target_root_password }}
slapd slapd/internal/generated_adminpw password {{ target_root_password }}
slapd slapd/password1 password {{ target_root_password }}
slapd slapd/password2 password {{ target_root_password }}
{% endif %}
{% if target_host_domain is defined and target_host_domain %}
slapd slapd/domain string {{ target_host_domain }}
{% endif %}
slapd shared/organization string LiFamily Club
slapd slapd/backend string HDB
slapd slapd/purge_database boolean true
slapd slapd/move_old_database boolean true
slapd slapd/allow_ldap_v2 boolean false
slapd slapd/no_configuration boolean false
slapd slapd/dump_database select when needed
slapd slapd/dump_database_destdir string /tmp/slapd-VERSION
EOF