#
# nginx configuration for virtual host: {{ target_host_domain }}
#

# https server at port 80. or --> https redirection
server {

    listen                  80;
    listen                  [::]:80;

    # virtual host domains
    server_name             _;

    # accept requests only for this domain
    #if ($host !~ .({{ target_host_domain }})$) {
    #    return 444;
    #}

     # redirect to https
    #return 301 https://$host$request_uri;

    # public html root
    root                    {{ target_web_root }};

    # document root
    index                   index.php index.php5 index.html index.htm;
    autoindex               off;

    location / {
        try_files           $uri $uri/ /index.php?$args;
        rewrite             ^/sitemap_index\.xml$ /index.php?sitemap=1 last;
        rewrite             ^/([^/]+?)-sitemap([0-9]+)?\.xml$ /index.php?sitemap=$1&sitemap_n=$2 last;
    }

    # Pass the PHP scripts to FastCGI server (locally with unix: param to avoid network overhead)
    location ~ \.php$ {
        # Prevent Zero-day exploit
        try_files           $uri = 404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        # NOTE: you should have "cgi.fix_pathinfo = 0;" in php.ini
        fastcgi_pass        127.0.0.1:9000;
        fastcgi_index       index.php;
        fastcgi_param       SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include             /etc/nginx/fastcgi_params;
        #fastcgi_pass       unix:/var/run/php5-fpm.sock;
        fastcgi_intercept_errors    on;
    }

    # Include HTTP configuration files
    include                 /etc/nginx/httpd-enabled/*.conf;

    # Common settings with the following configuration
    include                 /etc/nginx/conf.d/default.ini;
}

## https server at port 443. You need to provide ssl config here.
server {

    listen                  443 ssl;
    listen                  [::]:443 ssl;

    # virtual host domains
    server_name             _;

    # accept requests only for this domain
    #if ($host !~ .({{ target_host_domain }})$) {
    #    return 444;
    #}

    # certificate and private key
    ssl_certificate         /etc/ssl/private/{{ target_host_domain }}.crt;
    ssl_certificate_key     /etc/ssl/private/{{ target_host_domain }}.key;
    ssl_protocols           SSLv3 TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers             ECDHE-RSA-AES256-SHA384:AES256-SHA256:RC4:HIGH:!MD5:!aNULL:!EDH:!AESGCM;
    ssl_prefer_server_ciphers on;

    # random 1024-bit parameter for DH elliptic curves
    ssl_dhparam             /etc/ssl/private/dh_1024.pem;

    # public html root
    root                    {{ target_web_root }};

    # document root
    index                   index.php index.php5 index.html index.htm;
    autoindex               off;

    location / {
        try_files           $uri $uri/ /index.php?$args;
        rewrite             ^/sitemap_index\.xml$ /index.php?sitemap=1 last;
        rewrite             ^/([^/]+?)-sitemap([0-9]+)?\.xml$ /index.php?sitemap=$1&sitemap_n=$2 last;
    }

    # Pass the PHP scripts to FastCGI server (locally with unix: param to avoid network overhead)
    location ~ \.php$ {
        # Prevent Zero-day exploit
        try_files           $uri = 404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        # NOTE: you should have "cgi.fix_pathinfo = 0;" in php.ini
        fastcgi_pass        127.0.0.1:9000;
        fastcgi_param       HTTPS on;
        fastcgi_index       index.php;
        fastcgi_param       SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include             /etc/nginx/fastcgi_params;
        #fastcgi_pass       unix:/var/run/php5-fpm.sock;
        fastcgi_intercept_errors    on;
    }

    # Include HTTPS configuration files
    include                 /etc/nginx/https-enabled/*.conf;

    # Common settings with the following configuration
    include                 /etc/nginx/conf.d/default.ini; 
}