#!/bin/bash
### BEGIN INIT INFO
# Provides:          init-{{ install_role_name }}.sh
# Required-Start:
# Required-Stop:
# Default-Start:
# Default-Stop:
# Short-Description: Initialization before starting {{ install_role_name }}services
# Description:       Initialization before starting {{ install_role_name }}services
### END INIT INFO

# =============================================================================
#
# - Copyright (C) 2016     George Li <yongxinl@outlook.com>
#
# - This is part of HomeVault imagebuilder project.
# - Initialization before starting {{ install_role_name }}services
#
# - This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# =============================================================================

. /lib/lsb/init-functions

# check {{ install_role_name }} setup stamp
if [ ! -f "/etc/setup_{{ install_role_name }}.stamp" ]; then
    log_begin_msg "initializing environment before starting {{ install_role_name }} services"

    [ ! -d "{{ target_web_root }}" ] && { /bin/mkdir -p "{{ target_web_root }}" && /bin/chmod -R 644 "{{ target_web_root }}"; }

    touch "/etc/setup_{{ install_role_name }}.stamp"
    log_end_msg 0
fi