ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDTfbUGO2Z/h577ve/QWz2GqypqlovfIkq6QX3uUqUHWKUThwQE1yTKvzzYFaxD1VN+p+dkmTdWnLrnR5azma5u4Mz3jjXEBMmUpeRpK77KUybsnMtZqjqDBrFrAqO/89/2DfDdq7UiXEAKycAR7o9zag2y9ZnmRV8rz+vug3wi54na424j/XNNHLxs3K5RDQNje5Ke34RaKymclr3u2p7BnSGF9gH26QwLOAP9OJ9Lk/I2i8/NfBWKkG+i6DgC2TTUboGwFgry0uteVwkH5ytXvCyn66vJq3Z0hrnA8kXkajeQeTzfpp/wUWNcVtaz8d6Ol02egSk1I+GXfEyDD4hP root@captainL
