# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The primary network interface when running on HP Gen8 MicroServer
auto em1
iface em1 inet dhcp

# The second network interface when running on HP Gen8 MicroServer
auto em2
iface em2 inet static
  address 172.61.128.5
  netmask 255.255.255.240
