#
# nginx configuration for virtual host: {{ target_host_domain }}
#
# redirect server error pages to the static page /404.html
#
error_page              403 404         /50x.html;

# redirect server error pages to the static page /50x.html
#
error_page              500 502 503 504  /50x.html;
location = /50x.html {
    root                /usr/share/nginx/html;
    internal;
}

# deny access to .htaccess files, if Apache's document root
# concurs with nginx's one
#
location ~ /\.ht {
    deny                all;
}

# deny running scripts inside writable directories
location ~* /(images|cache|media|logs|tmp)/.*\.(php|pl|py|jsp|asp|sh|cgi)$ {
    return              403;
    error_page          403 /403_error.html;
}

# Exclude favicon from the logs to avoid bloating when it's not available
location /favicon.ico {
    log_not_found       off;
    access_log          off;
}

## Block download agents ##
if ($http_user_agent ~* LWP::Simple|BBBike|wget) {
    return              403;
}

## Block some robots ##
if ($http_user_agent ~* msnbot|scrapbot) {
    return              403;
}

# Prevent Clickjacking
add_header                X-Frame-Options "SAMEORIGIN";

# Only allow these request methods and do not accept DELETE, SEARCH and other methods
if ($request_method !~ ^(GET|HEAD|POST|PROPFIND|OPTIONS)$ ) {
    return              444;
} 