[Unit]
Description=Mount overlayFS drivers
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/mount-overlayfs start
ExecStop=/etc/init.d/mount-overlayfs stop
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
