# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The primary network interface running on VMware
auto eth0
iface eth0 inet dhcp