#
# nginx configuration for virtual host: {{ target_host_domain }}
#

# http proxy server at port 80. or --> https redirection
server {

    listen                  80;
    listen                  [::]:80;

    # virtual host domains
    server_name             proxy.{{ target_host_domain }};
	
	# The internal IP/name of the Server that hosts the Web
	set $upstream			proxy.{{ target_host_domain }};

    # redirect to https
    #return 301 https://$host$request_uri;

    location / {
		# reserse proxy follow
		proxy_pass_header Authorization;
		proxy_pass http://$upstream;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_http_version 1.1;
		proxy_set_header Connection "";
		proxy_buffering off;
		client_max_body_size 0;
		proxy_read_timeout 36000s;
		proxy_redirect off;
    }

}

## https proxy server at port 443. You need to provide ssl config here.
server {

    listen                  443 ssl;
    listen                  [::]:443 ssl;

    # virtual host domains
    server_name             proxy.{{ target_host_domain }};
	
	# The internal IP/name of the Server that hosts the Web
	set $upstream			proxy.{{ target_host_domain }};

    # certificate and private key
    ssl_certificate         /etc/ssl/private/{{ target_host_domain }}.crt;
    ssl_certificate_key     /etc/ssl/private/{{ target_host_domain }}.key;
    ssl_dhparam             /etc/ssl/private/dh_2048.pem;

    location / {
		# reserse proxy follow
		proxy_pass_header Authorization;
		proxy_pass http://$upstream;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_http_version 1.1;
		proxy_set_header Connection "";
		proxy_buffering off;
		client_max_body_size 0;
		proxy_read_timeout 36000s;
		proxy_redirect off;
    }

}