#
# nginx default configuration for unknown virtual host
# designed to be included in any http {} block.
#

# https server at port 443
server {

    listen                  443 ssl http2 default_server;
    listen                  [::]:443 ssl http2 default_server;

    # virtual host domains
    server_name             _;

    # public html root
    root                    {{ target_web_root }};

    # certificate and private key
    ssl_certificate         /etc/ssl/private/{{ target_host_domain }}.crt;
    ssl_certificate_key     /etc/ssl/private/{{ target_host_domain }}.key;
    ssl_dhparam             /etc/ssl/private/dh_2048.pem;

    # global restriction rules
    include                 /etc/nginx/conf.d/restrictions.ini;
    
    # Pass the PHP scripts to FastCGI server (locally with unix: param to avoid network overhead)
    location ~ \.php$ {
        # Prevent Zero-day exploit
        try_files           $uri = 404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        # NOTE: you should have "cgi.fix_pathinfo = 0;" in php.ini
        include             /etc/nginx/fastcgi_params;
        fastcgi_intercept_errors    on;
        fastcgi_pass        127.0.0.1:9000;
        fastcgi_param       SCRIPT_FILENAME     $document_root$fastcgi_script_name;
        fastcgi_buffers     16 16k;
        fastcgi_buffer_size 32k;      
    }

    location / {
        # include the "?$args" part so non-default permalinks doesn't break when using query string
        try_files           $uri $uri/ /index.php?$args;
    }

}