#!/bin/bash
# =============================================================================
#
# - Copyright (C) 2016     George Li <yongxinl@outlook.com>
#
# - This is part of HomeVault imagebuilder project.
# - This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# =============================================================================

partA=2048
newName=sandbox

parted -a optimal -s /dev/sda mklabel msdos -- mkpart primary fat32 1 $partA
parted -s /dev/sda -- mkpart primary ext4 $partA -1
dd bs=440 count=1 if="/cdrom/syslinux/mbr.bin" of=/dev/sdb
parted -s /dev/sda set 1 boot on
mkfs -t vfat -F 32 /dev/sda1
mkfs -t ext4 /dev/sda2
e2label /dev/sda2 data1
## for second hard driver only
# parted -s /dev/sda -- mkpart primary ext4 1800 -1
# mkfs -t ext4 /dev/sda3
# e2label /dev/sda3 data2
/cdrom/syslinux/syslinux -f -i /dev/sda1
mount -o loop /dev/sda1 /mnt
cp /cdrom/* /mnt -R
sed -i 's/{{ target_host_name }}/'${newName}'/g' /mnt/syslinux/syslinux.cfg